<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique necessitatibus numquam, minus beatae nostrum suscipit excepturi dolore repellat optio veritatis eos quis alias quisquam modi maxime? Repudiandae, officiis laboriosam. Officia suscipit laboriosam labore assumenda.</p>

<%- include("footer") -%>
